<div class="example-container">
    <h2>Registration Form</h2>
    <form [formGroup]="registrationForm">
        <div class="form-group">
            <mat-form-field>
                <input  formControlName="id" matInput placeholder="Id">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input  formControlName="name" matInput placeholder="Name">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input  formControlName="age" matInput placeholder="Age">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input  formControlName="emailId"  matInput placeholder="Email Id">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input  formControlName="address"  matInput placeholder="Address">
            </mat-form-field>

        </div>

        <button mat-raised-button color="primary" (click)="addData(registrationForm.value)">Submit</button>
       </form>

</div>

