<div class="example-container">
    <h2>Edit Form</h2>
        <div class="form-group">
            <mat-form-field>
                <input   matInput placeholder="id" value="{{userData.id}}">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input  matInput placeholder="Name">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input   matInput placeholder="Age">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input    matInput placeholder="Email Id">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input    matInput placeholder="Address">
            </mat-form-field>

        </div>

        <button mat-raised-button color="primary" (click)="editData()">Submit</button>


</div>


